.GameCell {
    width: 170px;
    height: 170px;
    border-radius: 0px;
    border: 0; /* Remove default border */
    background-color: transparent;
    font-size: 50px;
    font-family: 'Arial', 'Helvetica', 'Futura', sans-serif;
}

.GameCell.col1 {
    border-left: 10px solid green;
    border-right: 10px solid green;
}

.GameCell.row1 {
    border-top: 10px solid green;
    border-bottom: 10px solid green;
}

.GameCell.winner {
    color: green;
    font-weight: bold;
}

/* Prevent double borders at corners */
.GameCell.row1.col1 {
    border: 10px solid green;
}

.GameCell:focus {
    outline: none;
}